/lesson_1/для студентов js1 урок 1/
/lesson_2/для студентов js1 урок 2/
/lesson_3/для студентов js1 урок 3/
/lesson_4/для студентов js1 урок 4/
/tg_Dr0n_22.09.2021.mp4
/lesson_5/для студентов урок 5 курс javascript1/
/lesson_6/для студентов урок 6 курс js1/
/lesson_7/для студентов урок 7 курс js1/
